<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, aliquid.</p>
  </header>
  <div class="card card--secondary">
    <header class="card__header">card title
      </header>
      <div class="card__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, perferendis?</div>
  </div>
</section>

  <section class="block block--dark block--scked-left">
    <div class="container">
      <h2 class="block__heading">Heading</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti, aliquid.</p>
    </div>
  </section>