<section class="block container block--domain">
  <header class="block__header">
   <h2>Lorem ipsum dolor sit amet.</h2>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, doloremque?</p>
   <p></p>
  </header>
  <div class="input-group">
    <input type="text" placeholder="Enter domain name here" class="input">
  <button class="btn btn--accent"><svg class="icon icon--white">
    <use xlink:href="images/sprite.svg#search"></use>
  </svg>Search</button>
  </div>
  <ul class="list block-domian__prices">
    <li><span class="badge badge--secondary">.ccc $8</span></li>
    <li>.com 7$</li>
    <li>.sg $9</li>
    <li>.space $45</li>
    <li>.info $20</li>
    <li>.net $20</li>
  </ul>
</section>