<section class="block block--dark block--scked-rigth block-showcase">
  <header class="block__header">
    <h2>Lorem ipsum dolor sit amet.</h2>
  </header>
  <div class="container grid grid--cols-2">
    <picture class="block-showcase__image">
      <!-- <source type="image/webp" srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x"/> -->
      <source type="image/png" srcset="images/ipad.png 1x, images/ipad@2x.png 2x"/>
    <img  src="images/ipad@2x.png" alt="">
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#snap"></use>
              </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Manage Updates </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae inventore doloremque laboriosam nisi nihil natus, libero voluptatum vero vel quidem?</p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#growth"></use>
              </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Lorem ipsum dolor sit amet. </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae inventore doloremque laboriosam nisi nihil natus, libero voluptatum vero vel quidem?</p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#wordpress"></use>
              </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Lorem ipsum dolor sit. </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae inventore doloremque laboriosam nisi nihil natus, libero voluptatum vero vel quidem?</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
